.article__view {
    background-color: $whiteColor;
}

.articleView__container {
    max-width: 70%;
    margin: 0 auto;
    padding: 40px 10px 10px 10px;
    background-color: $whiteColor;
}

.articleView__content {
    font-size: 1rem;
    color: #495057;
    font-weight: 400px;
    line-height: 25px;
}

.articleView__tag {
    display: flex;
    justify-content: space-between;
    max-width: 160px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.articleViewTag__content {
    color: #6C757D;
    text-align: center;
    padding: 3px;
    border: 1px solid #E5E5E5;
    gap: 5px;
    border-radius: 3px;
    font-size: 0.714rem;
    font-family: 'Roboto';
    font-weight: 700px;
    background-color: $whiteColor;
}

.articleAuthorInfo {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    align-items: center;
    margin-bottom: 30px;
}

.author--nameAndImage {
    @include authorSection
}

.article__authorImage {
    @include userImage
}

.author__name {
    @include authorName
}

.author__profession {
    @include authorProfession
}

.author--SocialMedia {
    display: flex;
    gap: 5px;
}

.fab {
    font-size: 10px;
    color: #495057;
}

.comment__title {
    color: #495057;
    font-size: 1.286rem;
    font-weight: 700px;
    line-height: 25px;
    margin-bottom: 20px;
}

.relatedPost {
    background-color: #E5E5E5;
}

.relatedPostContainer {
    max-width: 80%;
    margin: 0 auto;
    padding: 70px 20px;
}

.relatedPostTitle {
    color: #495057;
    font-size: 1.286rem;
    font-weight: 700px;
    line-height: 25px;
    font-family: Lora;
    margin-bottom: 5px;
}