@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@300;700;900&display=swap');

$color: #333;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Lora', sans-serif;
}

html {
  background: $color;
}

.header {
  background-image: url('../../public/Image.jpg');
  background-repeat: no-repeat;
  height: 600px;
  background-size: cover;
  position: relative;
}

.nav {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 69px;
  max-height: 80px;
  height: 80px;
  width: 100%;
}

.header__overlay {
  max-height: 80px;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: rgba($color: #000000, $alpha: 0.5);
  backdrop-filter: blur(2px);
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 20px;
  height: 14px;
}

.nav__listItem {
  height: 14px;
  font-size: 12px;
  text-align: center;
  &:first-child a {
    border-bottom: 2px solid #D4A373;
  }
}

.nav_listItem--pushRight {
  margin-left: auto;
}

.nav__listLink {
  text-decoration: none;
  color: #E5E5E5;
  &:active,
  &:hover {
    color: #FFFFFF;
    border-bottom: 2px solid #D4A373;
  }
}

.nav__logoContainer {
  height: 22px;
}

.nav__logoLink {
  font-size: 20px;
  text-decoration: none;
  color: #F8F9FA;
}

.headerText {
  position: absolute;
  top: 278px;
  left: 69px;
  width: 530px;
  color: #FFFFFF;
}

.headerText__list {
  display: flex;
  list-style: none;
  gap: 10px;
  text-align: center;
}

.headerText__listItem {
  border-radius: 8px;
  background-color: rgba($color: #FFFFFF, $alpha: 0.1);
  height: 22px;
  padding: 5px 10px;
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 10px;
}

.headerText__para {
  font-size: 36px;
  font-weight: 700;
  line-height: 46.08px;
}

.timeSection {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  width: 490px;
  gap: 20px;
  align-items: center;
}

.timeSection__seperator {
  border-bottom: 1px solid #E5E5E5;
  width: 30px;
  height: 0;
}

.timeSection__para {
  padding-top: 20px;
  line-height: 20px;
}

.headerText__dotList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 30px;
}

.headerText__dotListItem {
  color: #495057;
  font-size: 30px;
}

.headerText--big {
  color: #FFFFFF;
}
.home {
    background-color: #E5E5E5;
    padding: 25px 69px;
  }
  
  .popularTopics {
    background-color: #E5E5E5;
    margin-bottom: 20px;
  }
  
  .popularTopics__heading {
    font-size: 36px;
    font-weight: 700;
    color: #495057;
  }
  
  .popularTopics__list {
    display: flex;
    gap: 10px;
    list-style: none;
    padding-top: 20px;
    margin-bottom: 30px;
  }
  
  .popularTopics__listItem {
    font-size: 12px;
    font-weight: 700;
  }
  
  .cardTimeAndIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card__icon {
    width: 15.43px;
    height: 14.14px;
    color: #D4A373;
  }
  
  .popularTopics__listLink {
    text-decoration: none;
    color: #495057;
    &:active {
      color: #D4A373;
    }
  }
  
  .popularTopics__listItem--right {
    margin-left: auto;
  }
  
  .popularTopics__card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
  
  .cardContainer {
    background-color: #FFFFFF;
    margin-bottom: 25px;
    max-height: 620px;
    border-radius: 5px 5px 0px 0px;
    position: relative;
  }
  
  .popularTopicCard__tagList {
    position: absolute;
    top: 10px;
    left: 230px;
    display: flex;
    list-style: none;
    width: 100px;
    gap: 10px;
  }
  
  .popularTopicCard__tagListItem {
    border-radius: 8px;
    background-color: rgba($color: #FFFFFF, $alpha: 0.1);
    display: inline-block;
    font-size: 10px;
    color: #FFFFFF;
  }
  
  .card__image {
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    object-fit: cover;
  }
  
  .card__info {
    padding: 10px 15px;
  }
  
  .card__time {
    color: #6C757D;
    font-size: 12px;
    font-weight: 400;
  }
  
  .card__title {
    color: #495057;
    font-size: 18px;
    font-weight: 700;
    padding-top: 10px;
  }
  
  .card__para {
    font-weight: 400;
    font-size: 12px;
    padding-top: 20px;
    margin-bottom: 30px;
    color: #6C757D;
  }
  
  .card__author {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 30px;
    border-top: 0.5px solid #E5E5E5;
    margin-bottom: 10px;
  }
  
  .cardAuthor__name {
    font-size: 12px;
    font-weight: bold;
    color: #495057;
    line-height: 20px;
  }
  
  .cardAuthor--profession {
    font-size: 12px;
    font-weight: 400;
    color: #6C757D;
    line-height: 20px;
  }
  .editorsPick {
    margin-bottom: 50px;
  }
  
  .editorsPick__heading {
    font-size: 36px;
    font-weight: 700;
    color: #495057;
    padding-top: 20px;
  }
  
  .editorsPick__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 13.3px;
    padding-top: 50px;
  }
  
  .editorsCard__image {
    width: 100%;
    object-fit: cover;
    height: 350px;
    border-radius: 5px;
  }
  
  .editorsCard {
    position: relative;
    transition: all 2s ease-in-out;
  
    &:hover {
      transform: scale(0.9);
    }
  }
  
  .editorsCard__inner {
    position: absolute;
  }
  
  .editorsCard_tagList {
    top: 10px;
    left: 350px;
    overflow: auto;
    width: 62px;
    list-style: none;
  }
  
  .editorsCard__icon {
    width: 15.43px;
    height: 14.14px;
    color: #D7D7D7;
    position: absolute;
    top: 100px;
    left: 40px;
  }
  
  .editorsCard__writeUp {
    top: 120px;
    left: 40px;
    overflow: auto;
    width: 320px;
    height: 200px;
  }
  
  .editorsCard__tagListItem {
    border-radius: 8px;
    background-color: rgba($color: #FFFFFF, $alpha: 0.1);
    height: 22px;
    padding: 5px 10px;
    font-size: 10px;
  }
  
  .editorsCard__time {
    color: #E5E5E5;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  
  .editorsCard__title {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 25px;
  }
  
  .editorsCard__para {
    padding-top: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #E5E5E5;
    line-height: 20px;
  }
  .footer {
    padding-top: 50px;
    background-color: #E5E5E5;
  }
  
  .footerInner--top {
    width: 100%;
    height: 350px;
    background-color: #212529;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
  }
  
  .footer__inner {
    padding: 50px 69px;
  }
  
  .footerInner--bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: #343A40;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .footerBottom__innerLink {
    text-decoration: none;
    color: #E5E5E5;
  }
  
  .footerBottom__inner {
    font-size: 14px;
    font-weight: 400;
    color: #E5E5E5;
  }
  
  .footerTop__contact,
  .footerTop__explorate,
  .footerTop__headquarter,
  .footerContent--Para {
    width: 114px; 
  }
  
  .footerTop__content {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #E5E5E5;
  }
  
  .footerTop__header {
    line-height: 35px;
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
  }
  
  .explorate__innerList {
    list-style: none;
  }
  
  .explorate__innerListItem {
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    color: #E5E5E5;
  }
  
  .explorate__innerLink {
    text-decoration: none;
    color: #E5E5E5;
  }
  
  
  
  
