.input__field{
    display: block;
    width: 290px;
    height: 72;
    border: 1px solid #495057;
    color: #495057;
    margin-bottom: 10px;
    padding: 10px 5px;
}

.form__label{
    display: block;
    font-size: 0.857rem;
    line-height: 25px;
    font-weight: 700;
    color: #818181;
}
