.header {
  background-image: url('../../../public/Image.jpg');
  background-repeat: no-repeat;
  height: 600px;
  background-size: cover;
  position: relative;
  min-height: 70vh;
}

.nav {
  @include container;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 80px;
  height: 80px;
  max-width: $maxWidth;

  @media only screen and (max-width: 820px) {
    @include tabletContainer;
  }

  @media only screen and (max-width: 414px) {
    @include mobileContainer;
    display: none;
    height: 0;
  }
}

.header__overlay {
  max-height: 80px;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 40;
  background-color: rgba($color: #000000, $alpha: 0.5);
  backdrop-filter: blur(2px);

  @media only screen and (max-width: 414px) {
    @include mobileContainer;
    display: none;
  }
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 20px;
  height: 14px;
}

.nav__listItem {
  height: 14px;
  font-size: 0.857rem;
  text-align: center;
}

.nav_listItem--pushRight {
  margin-left: auto;
}

.nav__listLink {
  text-decoration: none;
  color: #E5E5E5;

  &:active,
  &:hover {
    color: $whiteColor;
    border-bottom: 2px solid #D4A373;
  }
}

.nav__logoContainer {
  height: 22px;
}

.nav__logoLink {
  font-size: 1.429rem;
  text-decoration: none;
  color: #F8F9FA;
}

.headerText__container {
  @include container;
  position: absolute;
  top: 278px;
  max-width: $maxWidth;

  @media only screen and (max-width: 820px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    max-width: 80%;
    justify-content: center;
  }

  @media only screen and (max-width: 414px) {
    top: 55%;
  }

}

.headerText__inner {
  color: $whiteColor;
  max-width: 500px;

  @media only screen and (max-width: 414px) {
    text-align: center;
  }
}

.headerText__list {
  display: flex;
  list-style: none;
  gap: 10px;
  text-align: center;

  @media only screen and (max-width: 820px) {
    justify-content: space-between;
  }

  @media only screen and (max-width: 414px) {
    justify-content: space-between;
  }

}

.headerText__listItem {
  border-radius: 8px;
  background-color: rgba($color: $whiteColor, $alpha: 0.1);
  height: 22px;
  padding: 5px 10px;
  font-size: 0.714rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.headerText__para {
  font-size: 2.571rem;
  font-weight: 700;
  line-height: 46.08px;
}

.timeSection {
  display: flex;
  font-size: 0.857rem;
  font-weight: 400;
  gap: 20px;
  align-items: center;

  @media only screen and (max-width: 414px) {
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
  }
}

.timeSection__seperator {
  border-bottom: 1px solid #E5E5E5;
  width: 30px;
  height: 0;

  @media only screen and (max-width: 414px) {
    display: none;
  }
}

.timeSection__para {
  line-height: 20px;

  @media only screen and (max-width: 414px) {
    padding-top: 10px;
  }
}

.headerText__dotList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 30px;
}

.headerText__dotListItem {
  color: #495057;
  font-size: 2.143rem;
}

.headerText--big {
  color: $whiteColor;
}

.headerText__container--center {

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerText__center {
  display: block;
  text-align: center;
  min-height: 100%;
}

.headerText__center--title {
  font-weight: 700px;
  color: $whiteColor;
  max-width: 530px;
  font-size: 2.571rem;
  line-height: 46.08px;
}

.headerText__center--content {
  color: #E5E5E5;
  max-width: 420px;
  font-weight: 400px;
  font-size: 0.857rem;
  line-height: 20px;
}

.headerText__center--authorName {
  color: $whiteColor;
  max-width: 420px;
  font-size: 0.6rem;
  font-weight: 700px;
  line-height: 20px;
}