@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@300;700;900&display=swap');

$color: #E5E5E5;

$maxWidth: 1500px;

$baseFontSize: 14px;

$fontFamily: Lora;

$headingColor: #495057;

$whiteColor: #FFFFFF;